#login-buttons {
  line-height: 58px;
  margin-left: 35px;
  vertical-align: middle;
  #login-dropdown-list {
    left: auto;
    right: 1px;
  }
  .login-link-text {
    display: inline-block;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.alert a {
  text-decoration: underline;
  font-weight: bold;
}
.edit {
  textarea {
    height: 550px;
    margin-bottom: 20px;
  }
  .edit-form-control {
    display: inline-block;
    margin-left: 20px;
  }
}
.code {
  .container {
    width: auto;
  }
  padding-left: 5px;
}
.gutter .line {
  padding: 0 10px;
}
.edit pre {
  font-size: 60%;
}
.page-menu li a {
  font-size: 80%;
}
